# <u> **Part 1**

In [1]:
import pandas as pd

In [4]:
pd.__version__

'1.3.5'

### **Exercise 1**

Using pandas, from the list below

stocks = ['PLW', 'CDR', '11B', 'TEN']

create a series object

In [5]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

In [8]:
series = pd.Series(stocks)
series

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

### **Exercise 2**

using pandas, from the dictionary below

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

create a Series object and assign it to the quotations variable. In response, print quotations variable to the console.

In [9]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

In [10]:
quotes = pd.Series(stocks)
quotes

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

### **Exercise 3**

The following series is given (quotations variable)

<pre>
PLW    387.0 <br>
CDR    339.5 <br>
TEN    349.5 <br>
11B    391.0 <br>
dtype: float64
</pre>