# <u> **Part 1**

In [22]:
import pandas as pd
import numpy as np

In [4]:
pd.__version__

'1.3.5'

### **Exercise 1**

Using pandas, from the list below

stocks = ['PLW', 'CDR', '11B', 'TEN']

create a series object

In [5]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

In [8]:
series = pd.Series(stocks)
series

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

### **Exercise 2**

using pandas, from the dictionary below

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

create a Series object and assign it to the quotations variable.

In [9]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

In [17]:
quotes_series = pd.Series(stocks)
quotes_series

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

### **Exercise 3**

The following series is given (quotations variable)

<pre>
PLW    387.0 <br>
CDR    339.5 <br>
TEN    349.5 <br>
11B    391.0 <br>
dtype: float64
</pre>

Convert quotations to a list

In [18]:
quotes_series

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [19]:
quotes_list = quotes_series.tolist()
quotes_list

[387.0, 339.5, 349.5, 391.0]

### **Exercise 4**

The following series is given (quotations variable)

<pre>
PLW    387.0 <br>
CDR    339.5 <br>
TEN    349.5 <br>
11B    391.0 <br>
dtype: float64
</pre>

Convert the quotations to the DataFrame and set the column name to 'price'.

In [20]:
quotes_series

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [21]:
quotes_df = pd.DataFrame(quotes_series, columns=['price'])
quotes_df

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [23]:
np.arange(10, 100, 10)

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

### **Exercise 5**

Using numpy and pandas create the following series

<pre>
101    10.0 <br>
102    20.0 <br>
103    30.0 <br>
104    40.0 <br>
105    50.0 <br>
106    60.0 <br>
107    70.0 <br>
108    80.0 <br>
109    90.0 <br>
dtype: float64
</pre>

In [26]:
series = pd.Series(data=np.arange(10, 100, 10),
                      index=np.arange(101, 110), 
                      dtype='float')
series

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [27]:
series = pd.DataFrame(data=np.arange(10, 100, 10),
                      index=np.arange(101, 110), 
                      dtype='float')
series

        0
101  10.0
102  20.0
103  30.0
104  40.0
105  50.0
106  60.0
107  70.0
108  80.0
109  90.0

### **Exercise 6**

The following series is given

series = pd.Series(['001', '002', '003', '004'], list('abcd'))\


Convert its type to int

In [28]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series

a    001
b    002
c    003
d    004
dtype: object

In [29]:
#solution 1
series1 = pd.to_numeric(series)
series1

a    1
b    2
c    3
d    4
dtype: int64

In [30]:
#solution 2
series2 = series.astype(int)
series2

a    1
b    2
c    3
d    4
dtype: int64

### **Exercise 7**

The following quotations series is given

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0} <br>
quotations = pd.Series(data=stocks)

Add two key elements to this series

* key: 'BBT', value: 25.5
* key: 'F51', value: 19.2

In [33]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotes = pd.Series(data=stocks)
quotes

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

In [34]:
print(quotes.append(pd.Series({'BBT': 25.5, 'F51':19.2})))

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

### **Exercise 8**

Convert the following quotations series

<pre>
PLW   387.00 <br>
CDR   339.5 <br>
TEN   349.5 <br>
11B   391.0 <br>
BBT   25.5 <br>
F51   19.2 <br>
dtype: float64
</pre>

to a DataFrame. Reset the indices and name the columns 'ticker' and 'price' respectively.

In [36]:
stocks = {
    'PLW': 387.00, 
    'CDR': 339.5, 
    'TEN': 349.5, 
    '11B': 391.0, 
    'BBT': 25.5, 
    'F51': 19.2
}
quotes = pd.Series(data=stocks)
quotes

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [39]:
quotes_df = pd.DataFrame(quotes.reset_index())
quotes_df

  index      0
0   PLW  387.0
1   CDR  339.5
2   TEN  349.5
3   11B  391.0
4   BBT   25.5
5   F51   19.2

In [41]:
quotes_df.columns = ['ticker', 'price']
quotes_df

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

### **Exercise 9**

Create the following DataFrame object and assign it to the companies variable:

<pre>
   company    price    ticker<br>
0  Amazon     2375.0   AMZN.US<br>
1  Microsoft  178.6    MSFT.US<br>
2  Facebook   179.2    FB.US<br>
dtype: float64
</pre>

In [42]:
data_dict = {
            'company': ['Amazon', 'Microsoft', 'Facebook'],
             'price' : [2375.00, 178.6, 179.2],
             'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
            }

In [43]:
companies = pd.DataFrame(data=data_dict)
companies

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

### **Exercise 10**

Convert the first column of the companies DataFrame to index. 

<pre>
company    price    ticker<br>
Amazon     2375.0   AMZN.US<br>
Microsoft  178.6    MSFT.US<br>
Facebook   179.2    FB.US<br>
dtype: float64
</pre>

In [44]:
companies = companies.set_index('company')
companies

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US